.question-container {
  display: flex;
  flex-direction: column;
  margin: 3%;

  .question-wrapper {
    font-weight: bold;
  }
  .answers-wrapper {
    list-style-type: none;

    .correct {
      color: green;
      font-weight: bold;
    }
    .missed {
      color: lightgreen;
    }
    .wrong {
      color: red;
    }

  }
}

.error {
  background-color: rgba(255, 61, 61, 0.2);
}
