.question-container {
  display: flex;
  flex-direction: column;
  margin: 3%;

  .question {
    font-weight: bold;
  }
  .answer {

    .correct {
      color: green;
      font-weight: bold;
    }
    .wrong {
      color: red;
    }

  }
}
